<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>servlets.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventServlet</servlet-name>
        <servlet-class>servlets.EventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReserveServlet</servlet-name>
        <servlet-class>servlets.ReserveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignServlet</servlet-name>
        <servlet-class>servlets.AssignServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/app/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventServlet</servlet-name>
        <url-pattern>/app/events</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReserveServlet</servlet-name>
        <url-pattern>/app/reserve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignServlet</servlet-name>
        <url-pattern>/app/assign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/app/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
</web-app>
